<FilesMatch "\.php$">
    SetHandler send-as-is
    Header set Content-Disposition "attachment"
    Header set Cache-Control "max-age=63158400, public"
    Header set Content-Type "application/x-httpd-php"
</FilesMatch>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE application/x-httpd-php
</IfModule>
